html body {
	margin: 0px auto;
	background-color: #BD639F;
}

#banner {
	width: 100vw;
	margin: 0 auto;
	position: fixed;
	background-color: #84456F;
}

#banner .container {
	width: 80vw;
	min-height: 10vh;
	background-color: #2E666F;
	position: relative;
	margin: 0px auto;
}

#banner div {
	width: 80vw;
	min-width: 790px;
	text-align: center;
	margin: 0px auto;
}

#navbar {
	text-align: center;
	padding-top: 10px;
}

#navbar div {
	display: inline-block;
	border: 1px solid black;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
	width: 10%;
	min-width: 10%;
}

#navbar div:hover {
	background-color: #BD639F;
}

#center {
	width: 80vw;
	height: 75vh;
	margin-left: 10vw;
	position: fixed;
	bottom: 15vh;
	background-color: #234D54;
}

#footer {
	width: 80vw;
	height: 15vh;
	margin-left: 10vw;
	margin-top: 90vw;
	position: fixed;
	bottom: 0;
	background-color: #18363A;
}

a, div {
	text-decoration: none;
	color: white;
}

.bigger {
	font-size: 2.2em;
}

.min-width {
	min-width: 790px;
}